{% extends 'base.html'%}
{%block brand%}
Author:
{{my_name|title|safe}}  <!--Built-in filter reference-->
{%endblock%}
{%block content%}
<h2>My page is {{title|upper}}</h2>
<p>
    {{my_text}}<br>
    My phone number:                +{{my_number}} <!--    Context variables-->
</p>
<ul>
{% for item in my_skills %}
    <li>{{forloop.counter}} - {{item}}</li>
{% endfor %}
<!--    {% if item.isdigit %}    Build-in filter reference-->
<!--    {%else%}-->
<!--    <li>{{forloop.counter}} - {{item}}</li>-->
<!--    {%endif%}-->
</ul>
{%endblock %}
