<html>
    <head>
	    <meta charset="UTF-8"/>
	    <link href="style.css" rel="stylesheet" />
	     <title>DeliveryService</title>
		<link rel="icon" href="images/logo.jpg">
		
	</head>	
	<body> 	
	<<h1>Delivery Food Service</h1>
<h2>
<div class="top">
	<a href="home.html">Home</a>
	<a href="menu.html">Menu</a>
	<a href="order.html">Offer</a>
	<a href="signup.html">Signup/registration</a>
</div>
</h2>
<table class = "dishes"> 
	<tr>
		<td>
			<div class="articles">
			<img src="images/f1.jpg">
			<h2>Блюдо 1</h2>
			<button class="seldom">Add in order</button>
			</div>
		</td>
		<td>
			<div class="articles"> 
			<img src="images/f2.jpg">
			<h2>Блюдо 2</h2>	
			<button>Add in order</button>			
			</div>
		</td>
		<td>
			<div class="articles">
			<img src="images/f3.jpg">
			<h2>Блюдо 3</h2>
			<button>Add in order</button>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="articles">
			<img src="images/f4.jpg">
			<h2>Блюдо 4</h2>
			<button>Add in order</button>
			</div>
		</td>
		<td>
			<div class="articles">
			<img src="images/f5.jpg">
			<h2>Блюдо 5</h2>
			<button>Add in order</button>
			</div>
		</td>
		<td>
			<div class="articles">
			<img src="images/f6.jpg">
			<h2>Блюдо 6</h2>	
			<button>Add in order</button>
			</div>
		</td>
	</tr>
</table>
</body>
</html>
<?php

?>
